.App {
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cellAlive {
  background: white;
}

.cellDead {
  background: midnightblue;
}